body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 32px;
  text-decoration: underline;
  margin-top: 0;
}

img {
  width: 100%;
}

.slider {
  width: 1000px;
  height: 600px;

  overflow: hidden;

  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border: 12px dashed #696951;
}

.slides {
  width: 500%;
  height: 600px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 1000px;
  height: 600px;
}

/* CSS for manual navigation */
.manual-navigation {
  position: absolute;
  width: 1000px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-button {
  border: 2px solid #e3e312;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-button:not(:last-child) {
  margin-right: 40px;
}

.manual-button:hover {
  background-color: #e3e312;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

/* CSS for automatic navigation */

.auto-navigation {
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: 560px;
}

.auto-navigation div {
  border: 2px solid#e3e312;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.auto-navigation div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .auto-navigation auto-button1 {
  background-color: #e3e312;
}

#radio2:checked ~ .auto-navigation .auto-button2 {
  background-color: #e3e312;
}

#radio3:checked ~ .auto-navigation .auto-button3 {
  background-color: #e3e312;
}

#radio4:checked ~ .auto-navigation .auto-button4 {
  background-color: #e3e312;
}

#radio5:checked ~ .auto-navigation .auto-button5 {
  background-color: #e3e312;
}
